<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="org/wikipathways/knime/default.png"
            level-id="WikiPathwaysNode"
            name="WikiPathwaysNode"
            path="/community/WikiPathways"/>
   </extension>

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/WikiPathways/WikiPathwaysNode" factory-class="org.wikipathways.knime.WikiPathwaysNodeFactory"/>
    </extension>

</plugin>
